*.iml
.gradle
.DS_Store
/build
/captures
/publish
.externalNativeBuild
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/releases
/scripts/credentials.json
